<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>%s</title>
</head>

<body>

<div align="center">
<table border="1" width="1158" align: center>
	<tr>
		<td width="565" align="center" bordercolor="#000000" colspan="2">
		<font face="Batang" size="5">Discrimination</font></td>
		<td width="7" align="center">　</td>
		<td width="564"  align="center" bordercolor="#FF9900" colspan="2"><font face="Batang" size="5">
		Calibration </font></td>
	</tr>
	<tr>
		<td width="565" align="center" bordercolor="#000000" colspan="2">
		<img border="0" src="%s" width="560" height="420"></td>
		<td width="7" align="center">
		　</td>
		<td align="center" bordercolor="#FF9900" colspan="2">
		<img border="0" src="%s" width="560" height="420"></td>
	</tr>
	<tr>
		<td width="559" bordercolor="#000000" height="62" colspan="2">
		<p align="center"><b><font size="5" face="Batang">Discrimination <br>
		</font></b><font face="Batang">The</font><font face="Batang" size="3"> 
		green numbers next to the markers indicate 
		the optimal cutoffs.</font></td>
		<td width="7" height="62">
		<p align="center">　</td>
		<td bordercolor="#FF9900" colspan="2" height="62">
		<p align="center"><font face="Batang"><font size="5"><b>Calibration</b></font><b><font size="5"> 
		Capability </font><font size="4"> <br>
		</font></b>The</font><font face="Batang" size="3"> numbers next to the 
		markers indicate 
		the predictions per decil.</font></td>
	</tr>
	<tr>
		<td width="262" bordercolor="#000000" align="center">
		<font color="#FF0000" face="Batang">
		<b>Model A</b></font></td>
		<td width="297" bordercolor="#000000" align="center">
		<b><font face="Batang" color="#000080">Model B</font></b></td>
		<td width="7">
		<p align="center">　</td>
		<td bordercolor="#FF9900" align="center" width="307"><b>
		<font face="Batang" color="#FF0000">Model A</font></b></td>
		<td bordercolor="#FF9900" align="center" width="251"><b>
		<font face="Batang" color="#000080">Model B</font></b></td>
	</tr>
	<tr>
		<td width="262" bordercolor="#000000" align="center">
		<font face="Batang" color="#FF0000">AUC = %.3f</font></td>
		<td width="297" bordercolor="#000000" align="center">
		<font face="Batang" color="#000080">AUC = %.3f</font></td>
		<td width="7" rowspan="4">
		<p align="center">　<p align="center">　</td>
		<td bordercolor="#FF9900" align="center" width="307" rowspan="2">
		<font color="#FF0000" face="Batang">Calibration Error = %.2f</font></td>
		<td bordercolor="#FF9900" align="center" width="251" rowspan="2">
		<font color="#000080" face="Batang">Calibration Error = %.2f</font></td>
	</tr>
	<tr>
		<td width="262" bordercolor="#000000" align="center">
		<font face="Batang" color="#FF0000">S.D. = %.3f</font></td>
		<td width="297" bordercolor="#000000" align="center">
		<font face="Batang" color="#000080">S.D. = %.3f</font></td>
	</tr>
	<tr>
		<td width="262" bordercolor="#000000" height="26">
		<p align="center"><font face="Batang" color="#FF0000">C.I. = (%.3f, 
		%.3f)</font></td>
		<td width="297" bordercolor="#000000" height="26">
		<p align="center"><font face="Batang" color="#000080">C.I. = (%.3f, 
		%.3f)</font></td>
		<td bordercolor="#FF9900" align="center" width="307" rowspan="2">
		<font color="#FF0000" face="Batang">Hosmer-Lemeshow Test=%.2f</font></td>
		<td bordercolor="#FF9900" rowspan="2" width="251">
		<p align="center"><font color="#000080" face="Batang">Hosmer-Lemeshow 
		Test=%.2f</font></td>
		</tr>
	<tr>
		<td width="559" bordercolor="#000000" colspan="2">
		<p align="center"><b><font face="Batang">std</font></b><font face="Batang"><b>[AUC<sub>A</sub>-AUC<sub>B</sub>]=%.4f</b></font></td>
		</tr>
</table>
</div>

</body>

</html>
